* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden; /* Impede a barra de rolagem */
    background-color: aliceblue;
}

.corpo {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    margin-bottom: 20px; /* Ajuste para adicionar espaço entre o título e o vídeo */
    text-align: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe {
    border-radius: 8px;
}